<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.5, shrink-to-fit=no, viewport-fit=cover" />
        <title>
            PixelGrid — make your website perfectly aligned
        </title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/assets/favicon/site.webmanifest" />
        <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#212121" />
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
        <meta name="msapplication-TileColor" content="#212121" />
        <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
    </head>

    <body>
        <% if(process.env.NODE_ENV == 'production') { %>
        <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(55662481, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/55662481" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <% } %>
        <header class="header">
            <div class="header__logo-container">
                <a class="header__logo-link" href="/">
                    <img class="header__logo-image" src="/assets/header/pixelgrid-logo.svg" alt="PixelGrid" />
                </a>
            </div>
            <nav class="header__navigation-container">
                <ul class="navigation">
                    <li class="navigation__item"><a class="navigation__item-link" href="#features">Features</a></li>
                    <li class="navigation__item"><a class="navigation__item-link" href="#download">Download</a></li>
                    <li class="navigation__item"><a class="navigation__item-link" href="#contribution">Contribution</a></li>
                    <li class="navigation__item"><a class="navigation__item-link" href="https://github.com/pixel-grid">Github</a></li>
                    <li class="navigation__item navigation__item_switch">
                        <label class="switch">
                            <input type="checkbox" id="pluginenable" />
                            <span class="switch__slider"></span>
                        </label>
                        <p class="navigation__item-switch-label">Try it</p>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="hero">
            <div class="hero__image-container">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 617.094 565.81">
                    <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="116.217" y1="278.712" x2="587.22" y2="278.712">
                        <stop offset="0" stop-color="#ECEFF1" />
                        <stop offset=".994" stop-color="#90A4AE" />
                    </linearGradient>
                    <path
                        opacity=".1"
                        fill="url(#a)"
                        d="M159.541 19.531S251.99 8.703 339.444 45.35c0 0 70.796 24.987 166.579 97.448 0 0 79.958 64.965 80.79 120.769 0 0 4.164 44.976-14.159 75.793 0 0-66.631 135.761-238.207 175.739 0 0-130.763 29.984-174.906 23.321s-69.962-460.913 0-518.889z"
                    />
                    <defs>
                        <path
                            id="b"
                            d="M166.854 13.457s28.206-2.564 94.872 19.658c0 0 77.777 24.787 185.47 106.838 0 0 39.315 27.35 68.376 76.923 0 0 14.529 24.783 16.239 55.554 0 0 1.71 29.916-14.529 61.54 0 0-23.933 57.266-113.676 114.53 0 0-77.025 55.555-170.991 86.324 0 0-52.086 13.675-87.128 7.692 0 0-21.367-.854-51.282-19.657 0 0-31.625-20.514-48.718-60.685 0 0-70.94-173.508 0-364.106 0 0 23.076-82.899 121.367-84.611z"
                        />
                    </defs>
                    <use xlink:href="#b" overflow="visible" fill="#FFF" />
                    <clipPath id="c"><use xlink:href="#b" overflow="visible" /></clipPath>
                    <g clip-path="url(#c)">
                        <image
                            overflow="visible"
                            width="1166"
                            height="670"
                            transform="translate(-630,10)"
                            xlink:href="/assets/hero/hero.png"
                        />
                    </g>
                </svg>
            </div>
            <div class="hero__welcome-container">
                <h1 class="hero__welcome-title">
                    Make&nbsp;your<br />website&nbsp;layout<br />
                    <mark>perfectly&nbsp;aligned</mark>
                </h1>
                <p class="hero__welcome-subtitle">
                    The&nbsp;tool to&nbsp;overlap your website layout with a&nbsp;grid. It’s&nbsp;available for the&nbsp;most popular
                    browser&nbsp;and as&nbsp;an&nbsp;npm package.
                </p>
                <div class="hero__download">
                    <div class="hero__download-group">
                        <a class="button hero__download-extension" href="#download" data-analytics="navigate-to-download">Download for free</a>
                        <button class="button button_linkgrayed hero__download-try" id="trynow">Try it now</button>
                    </div>
                    <span class="hero__download-divider">or</span>
                    <a class="button button_link hero__download-npm" href="#npm" data-analytics="navigate-to-npm">Install from NPM</a>
                </div>
            </div>
        </section>

        <a name="features"></a>
        <section class="features">
            <h2 class="heading features__heading">Features</h2>
            <p class="heading__description features__heading__description">The most important features that make PixelGrid useful</p>

            <div class="features__item">
                <div class="features__item-content">
                    <h3 class="features__item-header">Layout type</h3>
                    <div class="features__item-icon-container">
                        <svg class="features__item-icon" width="64" height="77">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M8 9.625h21.333v32.083H8V9.625zm48 0H34.667v19.25H56V9.625zM24 35.292v-19.25H13.333v19.25H24zm26.667-12.834v-6.416H40v6.416h10.667zm0 19.25v19.25H40v-19.25h10.667zM24 60.958v-6.416H13.333v6.416H24zm32-25.666H34.667v32.083H56V35.292zM8 48.125h21.333v19.25H8v-19.25z"
                            />
                        </svg>
                    </div>
                    <p class="features__item-description">
                        Use grid, column and row layout with different alignment to make your layout as flexible as possible.
                    </p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__item-content features__item-content_accent">
                    <h3 class="features__item-header features__item-header_accent">Browser extensions and NPM</h3>
                    <div class="features__item-icon-container">
                        <svg class="features__item-icon features__item-icon_accent" width="64" height="64">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M22 12.667A6.67 6.67 0 0 1 28.667 6a6.67 6.67 0 0 1 6.666 6.667H46c2.933 0 5.333 2.4 5.333 5.333v10.667A6.67 6.67 0 0 1 58 35.333 6.67 6.67 0 0 1 51.333 42v10.667C51.333 55.6 48.933 58 46 58H35.867v-.8c0-3.973-3.227-7.2-7.2-7.2a7.204 7.204 0 0 0-7.2 7.2v.8H11.333C8.4 58 6 55.6 6 52.667V42.533h.8c3.973 0 7.2-3.226 7.2-7.2 0-3.973-3.227-7.2-7.2-7.2h-.773V18c0-2.933 2.373-5.333 5.306-5.333H22zm8 0a1.32 1.32 0 0 0-1.333-1.334 1.32 1.32 0 0 0-1.334 1.334V18h-16l.027 5.653a12.537 12.537 0 0 1 7.973 11.68c0 5.307-3.333 9.867-8 11.68v5.654h5.654c1.813-4.667 6.373-8 11.68-8 5.306 0 9.866 3.333 11.68 8H46v-16h5.333a1.32 1.32 0 0 0 1.334-1.334A1.32 1.32 0 0 0 51.333 34H46V18H30v-5.333z"
                            />
                        </svg>
                    </div>
                    <p class="features__item-description features__item-description_accent">
                        Choose convenient distribution model. You can either install it from NPM or use extension for popular browsers.
                    </p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__item-content">
                    <h3 class="features__item-header">Responsive layout</h3>
                    <div class="features__item-icon-container">
                        <svg class="features__item-icon" width="64" height="64">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M10.667 16h48v-5.333h-48c-2.934 0-5.334 2.4-5.334 5.333v29.333H0v8h37.333v-8H10.667V16zm50.666 5.333h-16A2.674 2.674 0 0 0 42.667 24v26.667c0 1.466 1.2 2.666 2.666 2.666h16c1.467 0 2.667-1.2 2.667-2.666V24c0-1.467-1.2-2.667-2.667-2.667zM48 45.333h10.667V26.667H48v18.666z"
                            />
                        </svg>
                    </div>
                    <p class="features__item-description">
                        It’s possible to adapt layout to different resolution to use flexible mobile layouts.
                    </p>
                </div>
            </div>
        </section>

        <section class="screenshots">
            <div class="screenshots__wrapper">
                <h2 class="heading screenshots__heading">Screenshots</h2>
                <p class="heading__description screenshots__heading__description">See how it looks</p>
            </div>

            <div class="screenshots__content-wrapper">
                <div class="screenshots__content">
                    <div class="slider" data-autoplay="8000">
                        <div class="slider__outer">
                            <div class="slider__wrapper">
                                <div class="slider__item">
                                    <img src="/assets/screenshots/1_sm.png" data-full-src="/assets/screenshots/1.png" data-w="1400" data-h="804" title="PixelGrid" alt="PixelGrid" data-analytics="screenshot-open" />
                                </div>
                                <div class="slider__item">
                                    <img src="/assets/screenshots/2_sm.png" data-full-src="/assets/screenshots/2.png" data-w="1400" data-h="804" title="PixelGrid" alt="PixelGrid" data-analytics="screenshot-open" />
                                </div>
                                <div class="slider__item">
                                    <img src="/assets/screenshots/3_sm.png" data-full-src="/assets/screenshots/3.png" data-w="1400" data-h="804" title="PixelGrid" alt="PixelGrid" data-analytics="screenshot-open" />
                                </div>
                                <div class="slider__item">
                                    <img src="/assets/screenshots/4_sm.png" data-full-src="/assets/screenshots/4.png" data-w="1400" data-h="804" title="PixelGrid" alt="PixelGrid" data-analytics="screenshot-open" />
                                </div>
                                <div class="slider__item">
                                    <img src="/assets/screenshots/5_sm.png" data-full-src="/assets/screenshots/5.png" data-w="1400" data-h="804" title="PixelGrid" alt="PixelGrid" data-analytics="screenshot-open" />
                                </div>
                                <div class="slider__item">
                                    <img src="/assets/screenshots/6_sm.png" data-full-src="/assets/screenshots/6.png" data-w="1400" data-h="804" title="PixelGrid" alt="PixelGrid" data-analytics="screenshot-open" />
                                </div>
                                <div class="slider__item">
                                    <img src="/assets/screenshots/7_sm.png" data-full-src="/assets/screenshots/7.png" data-w="1400" data-h="804" title="PixelGrid" alt="PixelGrid" data-analytics="screenshot-open" />
                                </div>
                                <div class="slider__item">
                                    <img src="/assets/screenshots/8_sm.png" data-full-src="/assets/screenshots/8.png" data-w="1400" data-h="804" title="PixelGrid" alt="PixelGrid" data-analytics="screenshot-open" />
                                </div>
                            </div>
                        </div>

                        <div class="slider__control">
                            <button class="slider__control-prev"><span>Prev</span></button>
                            <button class="slider__control-next"><span>Next</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a name="download"></a>

        <section class="download">
            <h2 class="heading download__heading">Download</h2>
            <p class="heading__description download__heading__description">There are extensions for most popular browsers</p>

            <ul class="download__list">
                <li class="download__item">
                    <a class="download__item-link" href="https://chrome.google.com/webstore/detail/pixelgrid/chfoojhjeehllcanheedojdmdophcdig" data-analytics="download-chrome">
                        <img class="download__item-logo" src="/assets/download/chrome.png" alt="Chrome" />
                        <span class="download__item-title">Chrome</span>
                    </a>
                </li>
                <li class="download__item">
                    <a class="download__item-link" href="https://addons.mozilla.org/en-US/firefox/addon/pixelgrid/" data-analytics="download-firefox">
                        <img class="download__item-logo" src="/assets/download/firefox.png" alt="Firefox" />
                        <span class="download__item-title">Firefox</span>
                    </a>
                </li>
                <li class="download__item">
                    <a class="download__item-link" href="https://addons.opera.com/ru/extensions/details/pixelgrid/" data-analytics="download-opera">
                        <img class="download__item-logo" src="/assets/download/opera.png" alt="Opera" />
                        <span class="download__item-title">Opera</span>
                    </a>
                </li>
                <li class="download__item">
                    <a class="download__item-link" href="https://addons.opera.com/ru/extensions/details/pixelgrid/" data-analytics="download-yandex">
                        <img class="download__item-logo" src="/assets/download/yandex.png" alt="Yandex" />
                        <span class="download__item-title">Yandex</span>
                    </a>
                </li>
            </ul>
        </section>

        <a name="npm"></a>

        <section class="integrate">
            <h2 class="heading integrate__heading">Integrate into your website</h2>
            <p class="heading__description integrate__heading__description">Use NPM package to integrate PixelGrid into your website</p>

            <div class="integrate__content">
                <ol class="integrate__list">
                    <li class="integrate__item">
                        Install package from NPM
                        <pre class="integrate__item-code"><code>&gt; npm install <a target="_blank" href="https://www.npmjs.com/package/@sergeyzwezdin/pixelgrid">@sergeyzwezdin/pixelgrid</a></code></pre>
                    </li>
                    <li class="integrate__item">
                        Add layout grid to your website
                        <pre class="integrate__item-code"><code>import { initializeGrid } from ‘@sergeyzwezdin/pixelgrid’;
const presets = [{
        grids: [
        {
            type: 'grid',
            color: '#000000',
            opacity: 0.25,
            size: 8
        }
    }];
initializeGrid(presets);</code></pre>
                    </li>
                </ol>
                <a class="button button_link integrate__learn-more" href="https://github.com/pixel-grid/pixelgrid/wiki/Layout-type" data-analytics="docs-link">Learn more about layout types &gt;</a>
            </div>
        </section>

        <a name="contribution"></a>

        <section class="contribute">
            <div class="contribute__wrapper">
                <div class="contribute__text">
                    <h2 class="contribute__heading"><mark>Want to</mark> contribute?</h2>
                    <p class="contribute__description">Any improvements are very appreciated</p>
                    <a class="button button_info contribute__get-started" href="https://github.com/pixel-grid/pixelgrid/wiki/Contirbution-guidelines" data-analytics="go-contribute">Get Started</a>
                </div>
                <div class="contribute__image-container">
                    <img class="contribute__image" src="/assets/contribute/github.png" alt="Github" />
                </div>
            </div>
        </section>

        <footer class="footer">
            <h2 class="footer__heading">Navigation</h2>
            <div class="footer__about">
                <img class="footer__logo-image" src="/assets/header/pixelgrid-logo.svg" alt="PixelGrid" />
                <p class="footer__description">
                    The tool to overlap your website layout by a grid. It’s available for the most popular browser and as an npm package.
                </p>
                <p class="footer__stayintouch">Stay in touch on <a href="https://fb.me/pixelgridextension">Facebook</a></p>
            </div>

            <nav class="footer__navigation">
                <h3 class="footer__navigation-header">Documentation</h3>
                <ul class="footer__navigation-list">
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://github.com/pixel-grid/pixelgrid/wiki/Getting-started" data-analytics="docs-link">Getting started</a></li>
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://github.com/pixel-grid/pixelgrid/wiki/Layout-type" data-analytics="docs-link">Layout type</a></li>
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://github.com/pixel-grid/pixelgrid/wiki/Responsive-layout" data-analytics="docs-link">Responsive layout</a></li>
                </ul>
            </nav>
            <nav class="footer__navigation">
                <h3 class="footer__navigation-header">Contirbute</h3>
                <ul class="footer__navigation-list">
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://github.com/pixel-grid" data-analytics="github-link">Github</a></li>
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://github.com/pixel-grid/pixelgrid/issues/new" data-analytics="github-link">Submit a bug</a></li>
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://github.com/pixel-grid/pixelgrid/releases" data-analytics="github-link">Releases</a></li>
                    <li class="footer__navigation-item">
                        <a class="footer__navigation-link" href="https://github.com/pixel-grid/pixelgrid/wiki/Contirbution-guidelines" data-analytics="github-link">Contirbution guidelines</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__navigation">
                <h3 class="footer__navigation-header">Download</h3>
                <ul class="footer__navigation-list">
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://chrome.google.com/webstore/detail/pixelgrid/chfoojhjeehllcanheedojdmdophcdig" data-analytics="download-chrome">Google Chrome</a></li>
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://addons.mozilla.org/en-US/firefox/addon/pixelgrid/" data-analytics="download-firefox">Mozilla Firefox</a></li>
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://addons.opera.com/ru/extensions/details/pixelgrid/" data-analytics="download-opera">Opera browser</a></li>
                    <li class="footer__navigation-item"><a class="footer__navigation-link" href="https://addons.opera.com/ru/extensions/details/pixelgrid/" data-analytics="download-yandex">Yandex browser</a></li>
                </ul>
            </nav>
        </footer>

        <footer class="subfooter">
            <div class="subfooter__wrapper">
                <div class="subfooter__copyright">© <a href="https://blog.zwezdin.com/">Sergey&nbsp;Zwezdin</a>, 2019</div>
                <div class="subfooter__grayedlogo">
                    <img class="subfooter__grayedlogo-image" src="/assets/footer/pixelgrid-logo-grayed.svg" alt="PixelGrid" />
                </div>
                <div class="subfooter__links">
                    <ul class="subfooter__links-list">
                        <li class="subfooter__links-item">
                            <a class="subfooter__links-link" href="mailto:pixelgrid@zwezdin.com">Get in touch</a>
                        </li>
                        <li class="subfooter__links-item">
                            <a class="subfooter__links-link" href="https://github.com/pixel-grid/pixelgrid/blob/master/LICENSE">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption"><div class="pswp__caption__center"></div></div>
                </div>
            </div>
        </div>
    </body>
</html>
