html {
    font-size: 62.5%;
    font-family: $fontPrimary;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    box-sizing: border-box;

    @mixin screen-sm-down {
        background: none;
    }
}
